<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
 
        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>인식</h1>
            <a href="/cnn" class="btn btn-primary">CNN 이미지 인식</a>
            <a href="/opencv_image" class="btn btn-primary">사물인식 이미지</a>
            <a href="/opencv_video" class="btn btn-primary">사물인식 영상</a>
            <a href="/wordcloud" class="btn btn-primary">주요 키워드 워드 클라우드</a>
        </div>
 
    </body>
</html>
