<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
 
        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>영상 업로드</h1>
            <form action="/opencv_video_result" method="post" enctype="multipart/form-data">
                <input type="file" name="upload" class="form-control"/><br/>
                <button type="submit">업로드</button>
            </form>
        </div>
 
    </body>
</html>
